* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*Default Font Style*/
	font-family: 'JetBrains Mono', monospace;
}

/*
Color
#FF4D4D = Merah Navbar
#E9E9E9 = Putih agak tua dikit
*/


html{
	height: 100%;
}

		/*START NAVIGASI - Masih ada bug nnti ku betulin*/
nav{
	display: flex;
	justify-content: space-around; 
	align-items: center;
	min-height: 10vh;
	background-color: #FF4D4D;
	font-family: 'JetBrains Mono', monospace;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.logo{
	color: #E9E9E9;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 24px;

}

.nav-item{
	display: flex;
	justify-content: space-around;
	width: 30%
}

.nav-item li{
	list-style: none;
}

.nav-item a{
	color: #E9E9E9;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 16px;
}
.strip{
	display: none;
	cursor: pointer;
}

.strip div{
	width: 25px;
	height: 3px;
	background-color: #E9E9E9;
	margin: 5px;
}



@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-item{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #FF4D4D;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.2s ease-in;
		opacity: 0.9;
	}
	.nav-item li{
		opacity: 0;
	}
	.strip{
		display: block;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navItemFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
	/*END NVIGASI*/

	/*START FOOTER - Selesai (Boleh kalo mau ditambah)*/
body{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

footer{
	background-color: black;
	margin-top: auto;
}
footer p{
	color: white;
	display: flex;
	justify-content: space-around; 
	align-items: center;
	font-family: 'JetBrains Mono', monospace;
	top:3vh;
	min-height: 10vh;
	font-size: 12px;
	letter-spacing: 0px;
	margin-top: auto;
}
		/*END FOOTER*/

		/*START HOME - Kurang Desain*/
.home{
	display: flex;
    background: url("image/bg-40.jpg") no-repeat center;
    min-height: 96vh;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    color: #E9E9E9;
}

.home-content{
	align-items: center;
	margin: 18% auto;
	font-weight: bold;
}
.home-content h2{
	font-size: 30px;
	text-align: center;

}
.home-content h1{
	font-size: 50px;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
}
.red{
	display: flex;
    background-color: #FF4D4D;
    min-height: 5vh;
    color: #E9E9E9;
    opacity: 1;
}
	/*END HOME*/

	/*START SERVICE - Selesai*/
.ser{
	text-align: center;
	margin-top: 15vh;
	font-size: 30px;
	font-weight: bold;
	color: #E40000;
}
.service{
	
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.service-content{

	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}
.box{
	position: relative;
	width: 380px;
	padding: 40px;
	background: #FFF;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.box:before{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.2);
	z-index: 2;
	pointer-events: none;
}
.box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 0.7s;

}
.box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #FF4D4D;
	background: #e91e63;
}
.box:nth-child(1):hover .icon{
	box-shadow: 0 0 0 400px #FF4D4D;
}
.box:nth-child(2) .icon{
	box-shadow: 0 0 0 0 #FF4D4D;
	background: #e91e63;
}
.box:nth-child(2):hover .icon{
	box-shadow: 0 0 0 400px #FF4D4D;
}
.box:nth-child(3) .icon{
	box-shadow: 0 0 0 0 #FF4D4D;
	background: #e91e63;
}
.box:nth-child(3):hover .icon{
	box-shadow: 0 0 0 400px #FF4D4D;
}
.box .content{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.box:hover .content{
	color: #fff
}
.box .content h3{
	font-size: 32px;
	font-weight: bold;
	margin: 10px 0;
}
.box .content p{
	font-size: 16px;
}
	/*END SERVICE*/

	/*START ABOUT - Belum Sama Sekali*/
.about{
	display: flex;
    background: #FF4D4D;
    min-height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
}
.col-sm-7 h2{
	margin: 10px;
}
.img-wrap{
	width: 100%
}
.img-wrap img{
	width: 100%
	padding:10px;
	border-radius:50%;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.about a{
	text-align: justify;
}
.about p{
	text-align: justify;
}
.about .icons{
	margin-top: 10vh;
}

/*START Pricing - Pricing ga mau muncul :( */
.calc{
	width: 500px;
	position: relative;
	margin-top: 20px;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #ee5253;
	margin: 20px;
}
		
.text{
	text-align: left;
	margin-left: 150px;
		}

#w{
	color: #222f3e;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #341f97;
	width: 200px;
}
			
#w:focus {
	border-bottom: 2px solid #341f97;
	width: 300px;
	transition: 0.5s;
}
			
#result{
	color: #341f97;
}
			
#btn{
	font-family: inherit;
	margin-top: 10px;
	border: none;
	color: #fff;
	background-image: linear-gradient(120deg,#e91e63, #FF4D4D);
	width: 150px;
	padding: 10px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}
			
#btn:hover{
	box-shadow: 1px 1px 10px #341f97;
}
			
#info{
	font-size: 12px;
	font-family: inherit;
}


/*START Location - Pricing ga mau muncul :( */
.location {
margin: 5em auto;
padding: 2em;
position: all;
background: url("image/22.jpg") no-repeat center;
}


.location .form-control,
.location input {
border-radius: 0;
}
.location .btn {
background-image: linear-gradient(120deg,#e91e63, #FF4D4D);
border: 1px solid #e91e63;
color: #fff;
margin-top: 20px;

}

.row h3{
	text-align: center;
	font-color: white;
}